* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
}

body {
   font-size: 100%;
   list-style-type: none;
}

button{
   cursor: pointer;
   background-color: transparent;
}

input, button{
   border: none;
   border-radius: 0.5rem;
   
   padding: 3%;
   padding-right: 0.2rem; 
}

a {
   color: inherit;
}

ul{
   list-style: none;
}